*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html {
  font-family: "Jost", sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #4D5053;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
  transition-duration: 350ms;
}

a:hover {
  text-decoration: none;
  color: #CDA274;
  transform: scale(1.2);
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
  transition-duration: 350ms;
}
button:hover {
  background-color: #fff;
  color: #4D5053;
}
button:hover::before {
  right: 2rem;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 122rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.title {
  font-family: "DM Serif Display", sans-serif;
  color: #292F36;
  text-align: center;
}

.text {
  font-size: 2.2rem;
  letter-spacing: 0.22px;
}

.button {
  background-color: #292F36;
  font-size: 1.8rem;
  line-height: 1.5;
  border-radius: 1.8rem;
  color: #FFFFFF;
}

.header {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  gap: 4rem;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.footer {
  margin-top: 10rem;
}
.footer__items {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer__item-logo {
  max-width: 39.3rem;
}
.footer__item a {
  font-family: "Jost";
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.footer__item a:hover {
  color: #CDA274;
}
.footer__item-title {
  font-size: 2.5rem;
  letter-spacing: 0.22px;
  text-align: left;
}
.footer__item-text {
  font-size: 2.2rem;
  letter-spacing: 0.22px;
}
.footer__item-logo img {
  max-width: 17.7rem;
  max-height: 5rem;
}
.footer__item-social {
  display: flex;
  gap: 4rem;
}
.footer__item-social img {
  width: 1.7rem;
  height: 1.7rem;
  transition-duration: 350ms;
}
.footer__item-social img:hover {
  transform: scale(1.3);
}
.footer__down {
  margin-top: 5rem;
  padding-top: 3.5rem;
  text-align: center;
  font-family: "Jost";
  font-size: 2.2rem;
  letter-spacing: 0.22px;
  border-top: 1px solid #E5E5E5;
}
.footer__down a {
  color: #CDA274;
}

.hero {
  margin: 5rem auto;
  width: 144rem;
  height: 83rem;
  background-image: url(../images/hero_bg.webp);
  background-size: contain;
}
.hero__desc {
  padding-top: 18.8rem;
  max-width: 59.5rem;
  gap: 3.5rem;
}
.hero__desc-button {
  position: relative;
  padding-right: 3rem;
  width: 20.7rem;
  height: 7.1rem;
  text-align: center;
}
.hero__desc-button::before {
  content: "";
  position: absolute;
  width: 3.6rem;
  height: 3.6rem;
  top: 1.6rem;
  right: 2.5rem;
  background: url(../images/arrow-right.png) center no-repeat;
}

.desc {
  display: flex;
  flex-direction: column;
}
.desc__title {
  text-align: left;
  font-size: 8rem;
  line-height: 1.2;
  letter-spacing: 0.22px;
}

.subhero {
  margin: 0 auto;
  margin-top: 5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.subhero__items {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.subhero .desc {
  text-align: center;
}
.subhero__title {
  font-size: 2.5rem;
  letter-spacing: 0.22px;
}
.subhero__text {
  margin-top: 2rem;
  font-size: 22px;
  letter-spacing: 0.22px;
}
.subhero__button {
  margin-top: 3rem;
  position: relative;
  background-color: inherit;
  font-size: 18px;
  color: #4D5053;
  position: relative;
}
.subhero__button::before {
  content: "";
  position: absolute;
  width: 3.4rem;
  height: 1.3rem;
  top: 0.7rem;
  right: 10rem;
  background: url(../images/arrow-right.png) center no-repeat;
}
.subhero__button:hover::before {
  right: 8rem;
}

.design {
  margin-right: 0 auto;
  margin-top: 15rem;
}
.design__desc {
  max-width: 59.2rem;
  padding-right: 11rem;
}
.design__wrap {
  display: flex;
  justify-content: space-around;
}
.design__title {
  text-align: left;
  font-size: 5rem;
  line-height: 1.3;
  letter-spacing: 0.22px;
}
.design__text {
  margin-top: 4.2rem;
  font-size: 2.3rem;
  letter-spacing: 0.22px;
}
.design__phone {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.design__phone-img {
  width: 9.3rem;
  height: 9.3rem;
  background: #F4F0EC;
  border-radius: 10rem;
}
.design__phone-img img {
  margin-top: 3rem;
  margin-left: 3.1rem;
  width: 3.4rem;
  height: 3.4rem;
}
.design__phone span {
  display: block;
  font-size: 2.2rem;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.design__button {
  margin-top: 5rem;
  max-width: 26.3rem;
  padding: 2.1rem 6.3rem 2.3rem 3.4rem;
  position: relative;
}
.design__button::before {
  content: "";
  position: absolute;
  width: 3.6rem;
  height: 2rem;
  top: 2.4rem;
  right: 3rem;
  background: url(../images/arrow-right.png) center no-repeat;
}
.design__img {
  width: 100%;
  height: 63.5rem;
  background-image: url(../images/design_img.webp);
  background-repeat: no-repeat;
  background-position: right;
}

.people {
  margin: 0 auto;
  margin-top: 15rem;
}
.people__wrap {
  padding: 10.3rem 5rem 12rem 5rem;
  background-color: #F4F0EC;
  border-radius: 7rem;
}
.people__title {
  margin: 0 auto;
  max-width: 47.9rem;
  font-size: 4.5rem;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.22px;
}
.people__cards {
  margin-top: 4.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}
.people__card {
  padding: 5rem 3rem 4.5rem 3.5rem;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 3rem;
}
.people__card-title {
  position: relative;
  margin-left: 10rem;
  text-align: left;
  font-size: 2.5rem;
  letter-spacing: 0.22px;
}
.people__card-text {
  margin-left: 10rem;
  font-size: 1.8rem;
  letter-spacing: 0.22px;
}
.people__card-subtext {
  margin-top: 2.5rem;
  font-size: 2rem;
  letter-spacing: 0.22px;
}

.lisa::before {
  content: "";
  position: absolute;
  width: 7.7rem;
  height: 7.7rem;
  background-image: url(../images/people_1.webp);
  left: -9rem;
}

.david::before {
  content: "";
  position: absolute;
  width: 7.7rem;
  height: 7.7rem;
  background-image: url(../images/people_2.webp);
  left: -9rem;
}

.vika::before {
  content: "";
  position: absolute;
  width: 7.7rem;
  height: 7.7rem;
  background-image: url(../images/people_3.webp);
  left: -9rem;
}

.brands {
  margin: 0 auto;
  margin-top: 10rem;
}
.brands__items {
  display: flex;
  justify-content: space-between;
}

.projects {
  margin: 0 auto;
  margin-top: 10rem;
}
.projects__title {
  font-size: 4.7rem;
  line-height: 1.3;
  letter-spacing: 0.22px;
}
.projects__text {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 78.6rem;
  text-align: center;
  font-size: 2.2rem;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.projects__cards {
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.projects__card {
  position: relative;
}
.projects__card-img {
  max-width: 59rem;
  max-height: 66.1rem;
}
.projects__card-title {
  margin-top: 2rem;
  text-align: left;
  font-size: 2.4rem;
  letter-spacing: 0.22px;
}
.projects__card-text {
  font-size: 2.2rem;
  letter-spacing: 0.22px;
}
.projects__card_arrow img {
  position: absolute;
  right: 0;
  bottom: 0.5rem;
  width: 7rem;
  height: 7rem;
}
.projects__card_bottom {
  margin-top: 5rem;
}

.stat {
  margin-top: 8rem;
  background-color: #F4F0EC;
}
.stat__items {
  padding: 15.3rem 12rem 14rem 12rem;
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}
.stat__item {
  width: 28.8rem;
}
.stat__item:not(:last-child) {
  border-right: 0.1rem solid #CDA274;
  padding-right: 2rem;
}
.stat__item span {
  display: block;
}
.stat__item-sum {
  font-family: "DM Serif Display";
  font-size: 8.5rem;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1.7px;
  color: #CDA274;
}
.stat__item-text {
  font-size: 2.2rem;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4D5053;
}

.blogs {
  margin-top: 15rem;
}
.blogs__title {
  font-size: 4.8rem;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.22px;
}
.blogs__text {
  margin-top: 2rem;
  font-size: 2.2rem;
  text-align: center;
  letter-spacing: 0.22px;
}
.blogs__items {
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.blogs__item {
  padding: 2.1rem 2.1rem 4rem 2.1rem;
  max-width: 38.6rem;
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #ccd0d6;
  border-radius: 15%;
}
.blogs__item-title {
  margin-top: 1.4rem;
  font-family: "DM Serif Display";
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  color: #292F36;
}
.blogs__item-img_kitchen {
  position: relative;
}
.blogs__item-img_kitchen::before {
  content: "Kitchen Design";
  position: absolute;
  left: 1rem;
  bottom: 2rem;
  padding: 1rem;
  background-color: #FFFFFF;
  font-family: "Jost";
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0.22px;
  color: #4D5053;
  border-radius: 1rem 1rem 1rem 0;
}
.blogs__item-img_living {
  position: relative;
}
.blogs__item-img_living::before {
  content: "Living Room";
  position: absolute;
  left: 1rem;
  bottom: 2rem;
  padding: 1rem;
  background-color: #FFFFFF;
  font-family: "Jost";
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0.22px;
  color: #4D5053;
  border-radius: 1rem 1rem 1rem 0;
}
.blogs__item-img_minimal {
  position: relative;
}
.blogs__item-img_minimal::before {
  content: "Minimalist Interior";
  position: absolute;
  left: 1rem;
  bottom: 2rem;
  padding: 1rem;
  background-color: #FFFFFF;
  font-family: "Jost";
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0.22px;
  color: #4D5053;
  border-radius: 1rem 1rem 1rem 0;
}
.blogs__item-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogs__item-desc {
  display: flex;
  justify-content: space-between;
}
.blogs__item-desc__text {
  font-family: "Jost";
  font-size: 1.6rem;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.blogs__item-desc img {
  width: 5.2rem;
  height: 5.2rem;
}
.blogs__item-bottom {
  margin-top: 2rem;
}

.join {
  margin-top: 10rem;
}
.join__wrap {
  padding: 10rem 3.3rem 9.5rem;
  background-color: #292F36;
  border-radius: 7rem;
}
.join__title {
  margin-top: 2rem;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 0.22px;
  color: #FFFFFF;
}
.join__text {
  margin-top: 1rem;
  font-size: 2.2rem;
  text-align: center;
  letter-spacing: 0.22px;
  color: #FFFFFF;
}
.join__button {
  margin: 0 auto;
  margin-top: 5.2rem;
  display: block;
  padding: 2.1rem 8rem 2.3rem 2.4rem;
  background-color: #CDA274;
  position: relative;
}
.join__button::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 2rem;
  top: 2.5rem;
  right: 1.8rem;
  background: url(../images/arrow-right_black.webp) center no-repeat;
}
.join__button:hover::before {
  right: 0.5rem;
}