.header {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    &__menu {
        display: flex;
        gap: 4rem;
        font-size: 2rem;
        line-height: 1.5;
        letter-spacing: 0.4px;
    }
}