.hero {
    margin: 5rem auto;
    width: 144rem;
    height: 83rem;
    background-image: url(../images/hero_bg.webp);
    background-size: contain;
    &__desc {
        padding-top: 18.8rem;
        max-width: 59.5rem;
        gap: 3.5rem;
        &-button {
            position: relative;
            padding-right: 3rem;
            width: 20.7rem;
            height: 7.1rem;
            text-align: center;
            &::before{
                content: '';
                position: absolute;
                width: 3.6rem;
                height: 3.6rem;
                top: 1.5rem;
                right: 2.5rem;
                background: url(../images/arrow-right.png) center  no-repeat;
                
            }
        }
    }
}
.desc {
    display: flex;
    flex-direction: column;
    &__title {
        font-size: 8rem;
        line-height: 1.2;
        letter-spacing: 0.22px;
    }
}